:root {
  --font-basic: #48494d;
  --font-light: #a4a4a6;

  --basic: #ffffff;
  --light-contrast: #f5f5f9;
  --light: #e5e5e5;
  --light-decorative: #a3a4a6;
  --extra-light-decorative: #d7d9df;
  --contrast: #d12136;
  --dark-contrast: #bd0c21;
  --dark: #000000;
  --warning: #ff0000;

  --transparent: rgba(0, 0, 0, 0.5);
}