.detailed-features__list {
  @include reset-list-style;

  display: flex;
  flex-direction: column;

  width: 565px;
}

.detailed-features__item {
  padding-top: 20px;
  padding-bottom: 7px;

  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid var(--extra-light-decorative);
}
