.price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &--new {
    min-width: max-content;
    margin-right: 30px;

    font-size: 35px;
    font-weight: 700;
  }

  &--old {
    position: relative;

    font-size: 20px;
    color: var(--font-light);

    &::before {
      content: "";
      position: absolute;
      bottom: 12px;
      left: -4px;

      width: 120px;
      height: 1px;

      background-color: var(--light-decorative);

      transform: rotate(-5deg);
    }
  }
}